*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --hauptfarbe: #4caf50;
    --akzentfarbe: #2196F3;
    --hintergrundfarbe: #FFFFFF;
}

body {
    margin: 0;
}

.container-fluid {
    width: 100vw;
}

.header {
    background-color: var(--akzentfarbe);
    color: whitesmoke;
    height: 10rem;
    padding: 2rem;
}

.container {
    margin: 10rem;
}

.btn-secondary {
    background-color: whitesmoke;
    border: none;
    padding: 0.5rem;
}

.btn-primary {
    background-color: var(--akzentfarbe);
    color: whitesmoke;
    border: none;
    padding: 0.5rem;
}