*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container-fluid {
    width: 100vw;
}

.header {
    background-color: blueviolet;
    color: whitesmoke;
    height: 10rem;
    padding: 2rem;
}

.container {
    margin: 10rem;
}